<%- include('partials/_header', { title: 'Home - WEBD6201 Demo' }) %>
<!DOCTYPE html>
<html>
  <head>
    <h1 id="welcome">
      WEBD 6201 Lab 1 Home Page
      <i class="fa-solid fa-bars-progress"></i>
      <h2 id="displayEvent" class="border"></h2>
    </h1>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <main>
      <div class="container mt-5">
        <h1>Welcome to Ben and Michael's Web Portfolio</h1>
        <p>Our mission is to create high-quality, user-friendly, and innovative web solutions that help businesses and individuals thrive in the digital world. We are committed to delivering exceptional web development services, including responsive design, efficient performance, and seamless user experiences.</p>
        <a href="/aboutus" class="btn btn-primary">Learn More About Us</a>
      </div>
    </main>
  </body>
</html>
<%- include('partials/_footer') %>
