<!doctype html>
<html lang="en">

<head>
    <%- include('partials/_header', { title: 'Services - WEBD6201 Demo' }) %>
    <link rel='stylesheet' href='/stylesheets/app.css' />
</head>

<body>
<main>
    <div class="row">
      <div class="column">
        <h2 class="container">Web Design</h2>
        <img class="small-image" src="/images/webdesign.jpg" alt="Web Design">
        <p class="container">We are able to consult in web design and functionality. We will design and implement a web page for free.</p>
      </div>
      <div class="column">
        <h2 class="container">Software Testing</h2>
        <img class="small-image" src="/images/testing.jpg" alt="Software Testing">
        <p class="container">Our team has the ability to test your software and provide valuable bug information.</p>
      </div>
      <div class="column">
        <h2 class="container">IT Support</h2>
        <img class="small-image" src="/images/IT-Support.jpg" alt="IT Support">
        <p class="container">24/7 IT support in every country around the world.</p>
      </div>
    </div>
  </main>
  <%- include('partials/_footer.ejs') %>
